@using Basecode.WebApp.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NoLayout.cshtml";

}
<partial></partial>
<header>
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/applicationtracking.css" asp-append-version="true" />
</header>

<!--
    This code depends on whether or not the job applied exists.
    If the model returns a null row, the controller will make the JobApplied -1
    As long as it is not a null row, the modal will display the thing
    Else, return an error saying that the ID does not exist
-->
@if (Model.JobApplied != -1)
{
    <div class="details">
        <div class="details-main" style="display: flex; justify-content: space-between;">
            <div class="tracking-header left">@Model.Lastname, @Model.Firstname</div>
            <div class="tracking-header right">ID: @Model.Id</div>
        </div>

        <div class="details-sub">
            <h3>JOB NAME</h3>
            <h6>Job Position</h6>
            <h4>Status: @Model.Tracker</h4>
            <h4>Grading: @Model.Grading</h4>
            <h4>Last Updated: @Model.UpdatedTime</h4>
        </div>
    </div>
}
else
{
    <p>Database Error: No ID with the value [@Model.Id] was found in the Application Database</p>
}

<!--
    Button Comment
-->
<div>
    <a style="text-decoration:none; color:white;" asp-controller="Home" asp-action="Index" />
    <button class="btn">Back</button>
</div>




