@using Basecode.Data.ViewModels
@model List<JobOpeningViewModel>

@{
    ViewData["Title"] = "Job Listing";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listing</title>
    <link rel="stylesheet" href="~/css/joblisting.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

    <script defer src="~/js/AdminTable.js"></script>
</head>
<body>
    <main>
        <div class="add-job-container">
            <a asp-controller="JobOpening" asp-action="JobPosting">
                <button class="add-job-btn">Add Job</button>
            </a>
        </div>

        <section class="job-listing">
            <h2 class="section-title">Jobs Offered</h2>
            
            <table id="myTable" class="job-table" style="@(Model.Count() == 0 ? "display: none" : "")">
                <thead>
                    <tr>
                        <th class="text-center">Job ID</th>
                        <th class="text-center">Position</th>
                        <th class="text-center">Job Type</th>
                        <th class="text-center">Salary</th>
                        <th class="text-center">Hours</th>
                        <th class="text-center">Shift</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in Model)
                    {
                        <tr>
                            <td class="table-cell">@job.Id</td>
                            <td class="table-cell">@job.Position</td>
                            <td class="table-cell">@job.JobType</td>
                            <td class="table-cell">@job.Salary</td>
                            <td class="table-cell">@job.Hours</td>
                            <td class="table-cell">@job.Shift</td>
                            <td class="table-cell">@job.Description</td>
                            <td class="table-cell">
                                <a asp-action ="UpdateJob" asp-route-id ="@job.Id">
                                    <button class="edit-btn">Edit</button>
                                </a>
                                <a asp-action="DeleteJob" asp-route-id="@job.Id ">
                                    <button class="delete-btn">Delete</button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <div class="triangle"></div>
        <div class="triangle1"></div>
    </main>
</body>
</html>
