@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
@using Basecode.Data.ViewModels
@model List<JobOpeningViewModel>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/admindashboard.css" asp-append-version="true" />
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

    <script defer src="~/js/AdminTable.js"></script>
</head>

<body>
    <main class="container-fluid" style="position:absolute;right:0px;font-family: Helvetica">
        <div class="row">
            @await Html.PartialAsync("./_AdminSideBar")
            <div class="col-lg ">
                <div class="row">
                    @await Html.PartialAsync("./_UpperBarAdmin")
                </div>

                <div class="row flex-nowrap bg-light dashboard-section">
                    <section class="admin-table">
                        <h2 class="section-title">Job List</h2>
                        <table id="myTable" class="table table-striped table-hover rounded-table" style="@(Model.Count() == 0 ? "display: none" : "")">
                            <thead class="header">
                                <tr>
                                    <th class="text-center">Position</th>
                                    <th class="text-center">Job Type</th>
                                    <th class="text-center">Salary</th>
                                    <th class="text-center">Hours</th>
                                    <th class="text-center">Shift</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var job in Model)
                                {
                                    <tr>
                                        <td class="table-cell">@job.Position</td>
                                        <td class="table-cell">@job.JobType</td>
                                        <td class="table-cell">@job.Salary</td>
                                        <td class="table-cell">@job.Hours</td>
                                        <td class="table-cell">@job.Shift</td>
                                        <td class="table-cell">@job.Description</td>
                                        <td class="table-cell">
                                            <a asp-controller="JobOpening" asp-action="UpdateJobAdminController" asp-route-id="@job.Id">Edit</a>
                                            <a asp-controller="JobOpening" asp-action="DeleteJobAdminController" asp-route-id="@job.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
