@{
    ViewData["Title"] = "HR Scheduler";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
@using Basecode.Data.ViewModels
@model List<ScheduleDetails>
<html>
    <head>
    <title>Hr Scheduler</title>
    <link rel="stylesheet" href="~/css/hrscheduler.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/applicantlist.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    </head>
    <body>
    <div class="mt-2 mb-2 p-3">
        <a asp-action="InterviewerList"><button class="btn btn-danger" style="margin-right:15px">Manage Interviewer</button></a>
        <a asp-action="ViewAddSchedule" id="addButton"><button class="btn btn-danger">Assign Schedule</button></a>
    </div>
        
        <table class="table py-lg-4 rounded-table table-light text-center">
            <thead>
                <tr class="text-center header">
                    <th scope="col">Job</th>
                    <th scope="col">Interviewer</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type of Exam</th>
                    <th scope="col">Team's link</th>
                    <th scope="col">Instruction</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var schedule in Model)
                {
                    <tr>
                        <td>@schedule.Position</td>
                        <td>@schedule.FirstName @schedule.LastName</td>
                        <td>@schedule.StartTime</td>
                        <td>@schedule.EndTime</td>
                        <td>@schedule.Date</td>
                        <td>@schedule.ExamType</td>
                        <td>@schedule.TeamsLink</td>
                        <td>@schedule.Instruction</td>
                    <td><a asp-action="EditSchedule" asp-route-id="@schedule.ScheduleId">Edit</a> <a asp-action="DeleteSchedule" asp-route-id="@schedule.ScheduleId">Delete</a> <a href="#" onclick="DisplayApplicants(@schedule.JobId)">Applicants</a></td>
                    </tr>

                }
            </tbody>
        </table>
        <!--Modal for applicants-->
    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Applicants</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span id="ex" ria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="applicantsList" class="list-group list-group-flush">
                      <!-- Applicants will be displayed here -->
                      <p id="error"></p>
                     </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for Adding schedule-->
    <div class="modal" tabindex="-1" role="dialog" id="add">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="ex">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Interviewer-name" class="col-form-label">Interviewer:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Jobs" class="col-form-label">Job</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Start Time:</label>
                            <input type="time" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">End Time:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Date:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Exam Type:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Team Link:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Intruction:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            <script>
                function DisplayApplicants(JobId)
                {
                    event.preventDefault();
                    $.ajax(
                    {
                        url: "/HrScheduler/ViewApplicantsAccordingToJobApplied",
                        type:"POST",
                        data:{job:JobId},
                        dataType:"json",
                        success: function(applicants){
                            $('#applicantsList').empty();
                            for (var applicant of applicants) 
                            {
                               console.log(applicant.name);
                               var listItem = $("<li class='list-group-item'>").text(applicant.name);
                               $('#applicantsList').append(listItem);
                            }
                            $("#modal").fadeIn(300);
                        },
                        error: function () {
                                $("#error").text("Error");
                            $("#modal").fadeIn(300);
                           
                        }
                    });
                }
                $(document).ready(function () {
                   $("#close").click(function () {
                       $("#modal").fadeOut(300, function () {
                             $("#modal").fadeOut(300);
                       });
                   });

                   $("#ex").click(function () {
                        $("#modal").fadeOut(300, function () {
                              $("#modal").fadeOut(300);
                        });
                   });

                    $("#addButton").click(function() {
                        $("#add").fadeIn(300);
                    });
                });
            </script>
        }
    }
    </body>
</html>