@{
    ViewData["Title"] = "HR Scheduler";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
@using Basecode.Data.ViewModels
@model List<InterviewerViewModel>
<html>
    <head>
        <title>Hr Scheduler</title>
        <link rel="stylesheet" href="~/css/hrscheduler.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/applicantlist.css" asp-append-version="true" />
    </head>
    <body>
    <div class="mt-2 mb-2 p-3">
         <a asp-action="AddInterviewer"><button class="btn btn-danger" style="margin-right:15px">Add Interviewer</button></a>
    </div>
    <table class="table py-lg-4 rounded-table table-light text-center">
        <thead>
                <tr class="text-center header">
                     <th scope="col">Id</th>
                    <th scope="col">Fistname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Action</th>
                </tr>
                <tbody>
                    @foreach(var interviewer in Model)
                    {
                        <tr>
                            <td>@interviewer.InterviewerId</td>
                            <td>@interviewer.FirstName</td>
                            <td>@interviewer.LastName</td>
                            <td>@interviewer.Email</td>
                            <td>@interviewer.ContactNo</td>
                            <td><a asp-action="UpdateInterviewer" asp-route-id="@interviewer.InterviewerId">Edit</a> <a href="">Delete</a></td>                          
                        </tr>
                    }
                </tbody>
            </thead>
        </table>
    </body>
</html>
