@using Basecode.Data.ViewModels
@using Microsoft.AspNetCore.Http
@model List<JobOpeningViewModel>
@{
    ViewData["Title"] = "Applicant Homepage";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
    //var httpContext = ViewContext.HttpContext;
    //int? applicantId = httpContext.Session.GetInt32("Key");
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/applyjob.css" />
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                @foreach (var job in Model)
                {
                    <div class="col-md-4">
                        <div class="card p-3 mb-4">
                            <h5 class="card-title">@job.Position</h5>
                            <div class="job-details">
                                <span class="badge">@job.JobType</span>
                                <span class="badge">&#8369;@job.Salary</span>
                                <span class="badge">@job.Hours hrs</span>
                                <span class="badge">@job.Shift Shift</span>
                            </div>
                            <p class="card-text">@job.Description</p>
                            <div class="apply-actions">
                                <a asp-controller="PublicApplicationForm" asp-route-jobId="@job.Id" asp-action="Index">
                                    <button class="apply-btn">Apply Now!</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="triangle"></div>
        <div class="triangle1"></div>
    </body>
</html>
